<h1>{{ title }}</h1>
<button 
  (click)="limpiar()"  
  class="btn btn-secondary btn-lg"
  type="button">
  Limpiar
</button>
<div style="width: 100%; height: 1rem; display: block;"></div>
<agm-map 

[latitude]="lat" 
[longitude]="lng"
[clickableIcons]="clickeable"
[draggable]="draggable"
(mapClick)="mapClick($event)">
  <agm-marker 
  *ngFor="let marker of markers"
  [latitude]="marker.lat" 
  [longitude]="marker.lng">
  </agm-marker>
  <agm-polygon 
  [clickable]="true"
  [visible]="true"
  [editable]="true"
  [zIndex]="1"
  [draggable]="true"
    [paths]="paths">
  </agm-polygon>
</agm-map>