/*<div class="row"></div>*/
#app
{
    width:800px;
    height:300px;
    background-color:azure;
}
.boton
{
    float:left;
    height:40px;
            width:100%;
            background-color:olive;
            font-size:14px;
            font-style:normal;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align:center;
            text-decoration:none;
            padding: 10px 20px 10px 20px;
            color:white;
        }
        .boton:hover
        {
            text-decoration:none;
            color:white;
            background-color:blue;
        }
        /*
        .row
        {
            float:left;
            width:100%;
        }
        */
        .col-20-px
        {
            float:left;
            width:20%;
        }
        .col-30-px
        {
            float:left;
            width:30%;
        }
        .col-70-px
        {
            float:left;
            width:70%;
        }
        .col-80-px
        {
            float:left;
            width:80%;
        }